BASE_URL=
JIRA_BASE_URL=
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=
BASE_URL
LOG_LEVEL
JIRA_004_FLAG
JIRA_012_FLAG
JIRA_020_FLAG
JIRA_028_FLAG
JIRA_036_FLAG
JIRA_044_FLAG
JIRA_052_FLAG
JIRA_060_FLAG
JIRA_068_FLAG
JIRA_076_FLAG
JIRA_084_FLAG
JIRA_092_FLAG
JIRA_100_FLAG
JIRA_108_FLAG
JIRA_116_FLAG
JIRA_124_FLAG
JIRA_132_FLAG
JIRA_140_FLAG
JIRA_148_FLAG
